/* adding font */

@font-face {
 src: url('Poppins-Regular.ttf');
 font-family: Poppins;
}

/* rest code */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins';
}

body {
 width: 100%;
}

.container {
 width: 100%;
 min-height: 100vh;
 /* margin: 10px; */
 padding: 10px 18px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: row;
 flex-wrap: wrap;
}

.container>h2 {
 width: 100%;
 text-align: center;
 margin-bottom: 18px;
}

.card-cover {
 max-width: 100%;
 min-width: 200px;
 min-height: 200px;
 padding: 20px 10px 10px 10px;
 box-shadow: 0 0 4px 2px #D2D2D2;
 border-radius: 8px;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 margin: 25px 15px;
 position: relative;
 /* margin: 30px 15px; */
}

.card-cover::after {
 content: attr(data-merit-position);
 position: absolute;
 width: 50px;
 height: 50px;
 border-radius: 50%;
 background-color: #fff;
 top: -30px;
 box-shadow: 0 0 4px 2px #D2D2D2;
 display: flex;
 align-items: center;
 text-align: center;
 justify-content: center;
 font-weight: bold;
}

.excellent-result::after {
 background: linear-gradient(-40deg, #7ED979, #E3EF84);
 color: #000000;
}

.number-section>div {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 10px 0;
}

.number-section>div label {
 width: 40%;
 font-weight: normal;
}

.number-section>div:nth-child(2) {
 border-bottom: 1px dashed #E9D9D9;
 padding: 5px 0;
}

.number-section>div input {
 width: 50%;
 padding: 5px;
 text-align: center;
 color: #000;
}

/*Codes for small screen*/
@media screen and (max-width: 500px) {
 .card-cover {
  margin: 25px 0px;
 }
}